{% load static %}

<nav>
    <h1><a href="/">SusanSur</a></h1>
    <div class="navegacion">
        <a href="https://google.com/maps/place/Sierra+Paileman+%26+Treneta,+Las+Grutas,+R%C3%ADo+Negro/@-40.8146043,-65.0981267,17z/data=!3m1!4b1!4m6!3m5!1s0x95fbccd4cd46dfd9:0xf854bf505bbce5df!8m2!3d-40.8146084!4d-65.095938!16s%2Fg%2F11gdm8ztph?hl=es" class="nav-link" target="_blank"><i><img src="{% static 'iconos/favicon-32x32.png' %}"/></i> Treneta y Sierra Payleman Altura bajada 4ta, Las Grutas</a>
    </div>
    <button class="burger-menu" id="burger-menu">
        <ion-icon class="barras" name="menu-outline"></ion-icon>
    </button>
</nav>